@model ProjectAgramkow.Models.Receipt

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Receipt</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ReceiptCreated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReceiptCreated)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Employee.EmpName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Employee.EmpName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ReceiptNumber }) |
    @Html.ActionLink("Back to List", "Index")
</p>
